html, body, .container{
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #95a5a6;
  box-sizing: border-box;
}

.container {
  width: 1000px;
  margin: 0 auto;
  background: #16a085;
}

.sidebar {
  width: 200px;
  height: 100%;
  background: #e74c3c;
  margin-left: 10px;
  position: fixed;
}

.logo {
  display: inline-block;
  margin-left: 20px;
}

.content {
  width: 750px;
  height: 100%;
  background: #2980b9;
  margin-left: 225px;
}
